<!doctype html>
<html class="no-js" lang="en" ng-app="wait4op">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Wait for OP</title>
    <link rel="stylesheet" href="css/foundation.css"/>
    <link rel="stylesheet" href="css/foundation-datepicker.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <script src="js/vendor/modernizr.js"></script>
</head>

<body ng-controller="MainCtrl as main">
<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#!/">Wait for OP</a></h1>
        </li>
        <!-- Menu icon for small-width devices -->
        <li class="toggle-topbar menu-icon"><a><span></span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">
            <li ng-class="{active: main.location.path() == '/public'}">
                <a href="#!/public">
                    {{ main.userSvc.roleName(main.userSvc.roles.PUBLIC) }}
                </a>
            </li>
            <li ng-show="main.userSvc.user.role != main.userSvc.roles.PUBLIC"
                ng-class="{active: main.location.path() == '/' + main.userSvc.user.role}">
                <a ng-href="#!/{{ main.userSvc.user.role }}">
                    {{ main.userSvc.roleName() }}: {{ main.userSvc.user.fullname }}
                </a>
            </li>
        </ul>
        <ul class="right">
            <li class="notifications"
                ng-show="main.userSvc.user.role != main.userSvc.roles.PUBLIC"
                ng-controller="NotificationsController as nots">

                <a data-dropdown="dropNotifications" ng-attr-title="{{ nots.toolTip() }}">

                    <i class="fa fa-bell fa-lg" ng-show="nots.pending.length"
                       ng-class="{ pending: !nots.hasError(), warning: nots.hasError() }"></i>

                    <i class="fa fa-bell-o fa-lg" ng-hide="nots.pending.length"></i>

                    <span ng-show="nots.pending.length">{{ nots.pending.length }}</span>
                </a>
            </li>

            <li><a data-reveal-id="loginModal" ng-show="!main.userSvc.isLoggedin()"><i class="fa fa-sign-in fa-lg"></i> Anmelden</a></li>
            <li><a ng-click="main.logout()" ng-show="main.userSvc.isLoggedin()"><i class="fa fa-sign-out fa-lg"></i>Abmelden</a></li>
        </ul>
    </section>
</nav>

<div id="dropNotifications"
     data-dropdown-content class="f-dropdown content medium" tabindex="-1"
     aria-hidden="true" aria-autoclose="false"
     ng-controller="NotificationsController as nots">

    <!-- alert box for every pending notification, with the newest first -->
    <div ng-repeat="notification in nots.pending.slice().reverse()"
         class="alert-box radius notification"
         ng-class="{warning: notification.isError}">

        <h5>{{ notification.message }}</h5>
        <div class="timestamp" ng-show="notification.timestamp">{{ notification.timestamp | date:'medium' }}</div>

        <div class="details">
            <p ng-show="notification.context.patient">
                PatientIn:
                {{ notification.context.patient.firstName }} {{ notification.context.patient.lastName }}
            </p>
            <p ng-show="notification.context.doctor">
                Arzt/Ärztin:
                {{ notification.context.doctor.title }} {{ notification.context.doctor.firstName }} {{ notification.context.doctor.lastName }}
            </p>
            <p ng-show="notification.context.clinic">
                Krankenhaus:
                {{ notification.context.clinic.name }}
            </p>
            <p ng-show="notification.context.slot">
                Slot:
                {{ notification.context.slot.from | date:'mediumDate' }}
                {{ notification.context.slot.from | date:'shortTime' }} — {{ notification.context.slot.to | date:'shortTime' }}
            </p>
        </div>

        <a class="close" ng-click="nots.dismiss(notification)">&times;</a>
    </div>

    <div class="row">
        <div class="small-12 columns noNotifications" ng-hide="nots.pending.length">
            {{ nots.toolTip() }}
        </div>
    </div>

    <div class="row collapse">
        <div class="small-0 medium-6 columns"></div>
        <div class="small-12 medium-6 columns">
            <button class="tiny radius button expand"
                    ng-show="nots.pending.length"
                    ng-click="nots.dismissAll()">
                <i class="fa fa-trash fa-lg"></i>
                Alle gelesen
            </button>
        </div>
    </div>
</div>

<div id="loginModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
     role="dialog">
    <h2>Anmelden</h2>

    <form name="loginForm" ng-submit="main.login(main.loginDialog)" novalidate>
        <fieldset ng-disabled="main.loginDialog.busy">

            <label>Benutzername
                <input type="text" name="username" ng-model="main.loginDialog.username" placeholder="dr_evil" required>
            </label>

            <label>Passwort
                <input type="password" name="password" ng-model="main.loginDialog.password" placeholder="*****" required>
            </label>

            <button type="submit" class="button"
                    ng-disabled="loginForm.$invalid"
                    ng-class="{ disabled: loginForm.$invalid }">
                Anmelden
            </button>

            <i class="fa fa-spinner fa-pulse fa-2x" ng-show="main.loginDialog.busy"></i>
            <label class="error" ng-show="main.loginDialog.failure">Anmeldung fehlgeschlagen ({{ main.loginDialog.failure }}).</label>

        </fieldset>
    </form>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="confirmModal" class="reveal-modal small" data-reveal ng-controller="ConfirmCtrl as confirm">
    <h3>{{ confirm.confirmation.title }}</h3>

    <row>
        <div class="small-12 columns">
            <p>{{ confirm.confirmation.text }}</p>
        </div>
    </row>

    <row>
        <div class="small-6 columns">
            <button class="small button expand secondary" ng-click="confirm.cancel()">
                <i class="fa fa-ban fa-lg"></i>
                Abbrechen
            </button>
        </div>
        <div class="small-6 columns">
            <button class="small button expand" ng-click="confirm.ok()">
                <i class="fa fa-check fa-lg"></i>
                OK
            </button>
        </div>
    </row>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<!-- this will be populated by angular router's current template -->
<div ng-view class="view"></div>

<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
<script src="js/foundation-datepicker.js"></script>
<script src="js/angular/angular.min.js"></script>
<script src="js/angular/angular-route.min.js"></script>
<script src="js/angular/angular-locale_de-at.js"></script>
<script src="js/app.js"></script>
</body>
</html>
