div.view {
    margin-top: 24px;
    margin-bottom: 24px;
}

input.ng-invalid.ng-dirty {
    border: 1px solid red;
}

table button, table .button {
    margin: 0;
}

table .alert-box {
    margin-bottom: 0;
}

/* confirmation dialog extended description */
div#confirmModal p {
    padding: 18px;
    text-align: center;
    font-style: italic;
}

/* pending (warning) message notification icon */
.top-bar-section ul li.notifications > a i.fa.pending {
    color: #61b6d9;
}

.top-bar-section ul li.notifications > a i.fa.warning {
    color: #f08a24;
}

/* notification alert box */
div.notification > h5 {
    font-weight: bold;
    text-decoration: underline;
    color: white;
    margin-bottom: 0;
}

div.notification div.details {
    margin-top: 9px;
}

div.notification div.details > p {
    font-size: 110%;
    font-style: italic;
    line-height: 1.2;
    margin: 0;
}

div.alert-box.notification a.close {
    top: 1rem;
}

div.noNotifications {
    text-align: center;
}

/* align spinners vertically with text */
i.fa.fa-spin, i.fa.fa-pulse {
    vertical-align: middle;
    margin-right: 6px;
    line-height: inherit;
}
