<div class="row">
    <div class="large-12 columns">
        <h1>OP Slots: Krankenhaus</h1>
    </div>
</div>

<div class="row">
    <div class="medium-6 columns"></div>
    <div class="small-12 medium-6 columns">
        <form>
            <div class="row collapse">
                <div class="small-1 columns"><span class="prefix"><i class="fa fa-search fa-lg"></i></span></div>
                <div class="small-11 columns"><input type="text" placeholder="Filtern" ng-model="surgery.search" /></div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="panel radius">
            <table width="100%">
                <thead>
                <tr>
                    <th><a ng-click="surgery.setOrder('from')">Datum <i class="fa" ng-class="surgery.getSortClass('from')"></i></a></th>
                    <th>Slot</th>
                    <th><a ng-click="surgery.setOrder('type')">Typ <i class="fa" ng-class="surgery.getSortClass('type', 'fa-sort-alpha')"></i></a></th>
                    <th><a ng-click="surgery.setOrder('clinic')">KH <i class="fa" ng-class="surgery.getSortClass('clinic', 'fa-sort-alpha')"></i></a></th>
                    <th><a ng-click="surgery.setOrder('doctor')">Arzt / Ärztin <i class="fa" ng-class="surgery.getSortClass('doctor', 'fa-sort-alpha')"></i></a></th>
                    <th><a ng-click="surgery.setOrder('patient')">PatientIn <i class="fa" ng-class="surgery.getSortClass('patient', 'fa-sort-alpha')"></i></a></th>
                    <th>Aktion</th>
                </tr>
                </thead>
                <tr ng-repeat="op in surgery.ops | filter:surgery.isFutureSlot | filter:surgery.search | orderBy:surgery.order">
                    <td>{{ op.date_ui }}</td>
                    <td>{{ op.from_ui }} — {{ op.to_ui }}</td>
                    <td>{{ op.type }}</td>
                    <td>{{ op.clinic }}</td>
                    <td>{{ op.doctor || '—' }}</td>
                    <td>{{ op.patient || '—' }}</td>
                    <td>
                        <button type="button" class="button tiny" ng-show="!op.doctor && !op.patient" ng-click="surgery.deleteFreeSlot(op)">
                            <i class="fa fa-trash fa-lg"></i>
                            Löschen
                        </button>
                    </td>
                </tr>
                <tr ng-show="surgery.status.error">
                    <td colspan="6">
                        <div data-alert class="alert-box alert text-center">
                            <i class="fa fa-exclamation-triangle fa-lg"></i>
                            Fehler beim Aktualisieren der OP Slots! ({{ surgery.status.error }})
                        </div>
                    </td>
                </tr>
                <tr ng-hide="surgery.ops.length || surgery.status.error">
                    <td colspan="6">
                        <div class="alert-box secondary text-center">
                            Keine zukünftigen OP Slots geplant!
                        </div>
                    </td>
                </tr>
                <tr ng-show="surgery.status.loading && !surgery.ops.length">
                    <td colspan="6">
                        <div class="row">
                            <div class="small-12 medium-6 large-3 medium-centered columns alert-box info text-center">
                                <i class="fa fa-refresh fa-spin fa-2x"></i>
                                Laden ...
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <button type="button" class="button" data-reveal-id="createSlotModal">
            Neuen OP Slot anlegen
        </button>
    </div>
</div>

<div id="createSlotModal" class="reveal-modal" data-reveal ng-controller="CreateSlotCtrl as create">
    <form name="createSlot" ng-submit="create.create()" novalidate>
        <h2>OP Slot anlegen</h2>

        <div class="row">
            <div class="large-6 columns">
                <fieldset ng-disabled="create.dialog.busy">
                    <legend>Slot</legend>
                    <slot-input from="create.dialog.from"
                                to="create.dialog.to">
                    </slot-input>
                </fieldset>
            </div>
            <div class="large-6 columns">
                <fieldset ng-disabled="create.dialog.busy">
                    <legend>Operation</legend>
                    <label>Slot-Typ
                        <select ng-model="create.dialog.slotType" required
                                ng-options="type for type in create.slotTypes">
                        </select>
                    </label>
                </fieldset>
            </div>
        </div>

        <button type="submit" class="button"
                ng-disabled="createSlot.$invalid"
                ng-class="{ disabled: createSlot.$invalid }">
            Anlegen
        </button>

        <i class="fa fa-spinner fa-pulse fa-2x" style="vertical-align: middle; margin: 6px;" ng-show="create.dialog.busy"></i>
        <label class="error" ng-show="create.dialog.failure">Anlegen fehlgeschlagen ({{ create.dialog.failure }}).</label>

    </form>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
