<div class="row">
    <div class="large-12 columns">
        <h1>OP Slots: PatientIn</h1>
    </div>
</div>

<div class="row">
    <div class="medium-6 columns"></div>
    <div class="small-12 medium-6 columns">
        <form>
            <div class="row collapse">
                <div class="small-1 columns"><span class="prefix"><i class="fa fa-search fa-lg"></i></span></div>
                <div class="small-11 columns"><input type="text" placeholder="Filtern" ng-model="surgery.search" /></div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="panel radius">
            <table width="100%">
                <thead>
                <tr>
                    <th><a ng-click="surgery.setOrder('from')">Datum <i class="fa" ng-class="surgery.getSortClass('from')"></i></a></th>
                    <th>Slot</th>
                    <th><a ng-click="surgery.setOrder('type')">Typ <i class="fa" ng-class="surgery.getSortClass('type', 'fa-sort-alpha')"></i></a></th>
                    <th><a ng-click="surgery.setOrder('clinic')">KH <i class="fa" ng-class="surgery.getSortClass('clinic', 'fa-sort-alpha')"></i></a></th>
                    <th><a ng-click="surgery.setOrder('doctor')">Arzt / Ärztin <i class="fa" ng-class="surgery.getSortClass('doctor', 'fa-sort-alpha')"></i></a></th>
                </tr>
                </thead>
                <tr ng-repeat="op in surgery.ops | filter:surgery.isFutureSlot | filter:surgery.search | orderBy:surgery.order">
                    <td>{{ op.date_ui }}</td>
                    <td>{{ op.from_ui }} — {{ op.to_ui }}</td>
                    <td>{{ op.type }}</td>
                    <td>{{ op.clinic }}</td>
                    <td>{{ op.doctor || '—' }}</td>
                </tr>
                <tr ng-show="surgery.status.error">
                    <td colspan="5">
                        <div data-alert class="alert-box alert text-center">
                            <i class="fa fa-exclamation-triangle fa-lg"></i>
                            Fehler beim Aktualisieren der OP Slots! ({{ surgery.status.error }})
                        </div>
                    </td>
                </tr>
                <tr ng-hide="surgery.ops.length || surgery.status.error">
                    <td colspan="5">
                        <div class="alert-box secondary text-center">
                            Keine zukünftigen OP Slots geplant!
                        </div>
                    </td>
                </tr>
                <tr ng-show="surgery.status.loading && !surgery.ops.length">
                    <td colspan="5">
                        <div class="row">
                            <div class="small-12 medium-6 large-3 medium-centered columns alert-box info text-center">
                                <i class="fa fa-refresh fa-spin fa-2x"></i>
                                Laden ...
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
