<label>Datum
    <div class="row collapse">
        <div class="small-2 columns">
            <span class="prefix">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
        <div class="small-10 columns">
            <input type="date" datepicker required
                   ng-model="slot.getset_date"
                   ng-model-options="{ getterSetter: true }">
        </div>
    </div>

</label>

<label>Von
    <select required
            ng-model="slot.from"
            ng-options="time | date:'shortTime' for time in slot.time_options">
    </select>
</label>

<label>Bis
    <select required
            ng-model="slot.to"
            ng-options="time | date:'shortTime' for time in slot.time_options | filter:slot.to_filter">
    </select>
</label>
